<ion-header>
    <ion-toolbar>
        <ion-title>
            Accueil
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="swip">
        <swiper [loop]="true" [autoplay]="true" [pagination]="true">
            <!-- <ng-template swiperSlide><img src="../../assets/img/Pub/AdobeStock_198832461.jpeg" alt=""></ng-template> -->
            <ng-template swiperSlide><img src="../../assets/img/Pub/recyclage-carton-859-293.png" alt=""></ng-template>
            <ng-template swiperSlide><img src="../../assets/img/Pub/recyclage-vetements-825x293.png" alt=""></ng-template>
        </swiper>
    </div>

    <div class="flex">
        <ion-card *ngFor="let liste of listCategorie" routerLink="/detail-categorie/{{liste.idcat}}">
            <img src="{{photo}} + {{liste?.idcat}}" class="cat">
            <p>{{liste.type}}</p>
        </ion-card>
    </div>

</ion-content>