@import '~swiper/scss';
@import '~@ionic/angular/css/ionic-swiper';
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
<<<<<<< HEAD
    margin-top: 200px;
=======
    margin-top: 150px;
>>>>>>> 41cd1a971dd1be31601845d296b83e1472dc2bfa
    // gap: 1rem;
}
ion-card{
    width: 40%;
    // margin: 7px;
    margin-left: 6px;
    margin-right: 6px;
}

// .image{
//     width: 70%;
//     margin: auto;
//     display: flex;
//     justify-content: center;
// }
p{
    text-align: center;
}
.swip{
    position: fixed;
    z-index: 1;
    width: 100%;
}
