<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tabs/tab5"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="header">
      <!-- <h2>Profil</h2> -->
      <!-- <div class="space-between">
        <div class="followings">
          <ion-badge color="primary" mode="ios">42</ion-badge>
          <p>Abonnés</p>
        </div>
        <div class="followings">
          <ion-badge color="primary" mode="ios">42</ion-badge>
          <p>Abonnements</p>
        </div>
      </div> -->
  </div>

  <div class="flex1">
      <div class="border-green">
          <div class="border-white">
              <div class="img-box">
                  <img src="../../assets/img/user.png">
              </div>
          </div>
      </div>
  </div>

  <form>
      <ion-list>
          <ion-item>
              <ion-label>{{user?.nom}} </ion-label>
          </ion-item>
          <ion-item>
              <ion-label>{{user?.prenom}}</ion-label>
          </ion-item>
          <ion-item>
              <ion-label>{{user?.email}}</ion-label>
          </ion-item>
          <ion-item>
              <ion-label>{{user?.adress_utiilisateur}}</ion-label>
          </ion-item>
      </ion-list>
  </form>
  <div class="flex">
      <ion-button color="primary" expand="" shape="round" routerLink="/accueil">Mes annonces</ion-button>
      <ion-button color="primary" expand="" shape="round" routerLink="/accueil">Deconnexion</ion-button>
  </div>
  <!-- <ion-row class="ion-padding">
      <ion-button color="danger" (click)="retour()">Annonce</ion-button>
      <ion-button color="success" (click)="valider(annonce?.id_annonce)">Deconnexion</ion-button>
  </ion-row> -->

</ion-content>