.regi {
    --ion-background-color: #EEEEEE;
}

.img_conn {
    height: 173px;
    margin-left: -50px;
    margin-top: -40px;
    width: 234px;
    object-fit: cover;
}

// ion-input{
//     border-radius: 20px !important;
//     font-size: 0.9em;
//     --background: #FFFFFF !important;
//      width: 42%;
//      margin-right: 10px;
//      margin-top: 10px;
//      margin-bottom: 8px;
// }

.button{
    height: 40px;
    width: 100%;
    margin-right: 10px;
    margin-top: 30px;
    font-size: 1em;
}

.para{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 6%;
}

.alert{
    color: red;
}