<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="post_img">
    <ion-item lines="none">
      <ion-avatar><img class="avatar" src="../../assets/img/user.png"></ion-avatar>
      <p> <br>
        Publie le: <ion-note>14-03-2022 13h33</ion-note>
      </p>

      <!-- <ion-button color="success" shape="round" slot="end" (click)="obtenir(a.id_annonce)">Obtenir</ion-button> -->
    </ion-item>
    Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer
    une mise en page
    <img src="{{photo}} + {{annonce?.id_annonce}}">
    <!-- <h4>{{a.description}}</h4> -->
  </div>

</ion-content>